<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver notas</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <nav>
        <a href="/">Lançar notas</a> 
        <a href="/cal_nota"> Ver notas</a>
    </nav>
    
    <div class="ver_nota">
        <h2>Ver notas</h2>
        <table class="ver_notas_tabela">
            <thead>
                <tr>
                    <th>Nome do Aluno</th>
                    <th>Primeira nota</th>
                    <th>Segunda nota</th>
                    <th>Terceira nota</th>
                    <th>Média</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in prod %}
                <tr id="aluno-{{ i }}">
                    <td>{{ aluno.nome_aluno }}</td>
                    <td>{{ aluno.nota_um}}</td>
                    <td>{{ aluno.nota_dois }}</td>
                    <td>{{ aluno.nota_tres }}</td>
                    <td>{{ aluno.media }}</td>
                    <td>{{ aluno.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>       
        <img class="estrela_cabecalho_d" src="/static/assets/estrelaa.png" alt="">
    </div>
</body>
</html>